/* line 8, ../src/vpm_ViewportMonkeyStyles.scss */
div.vpm_monkeynums {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: .7em;
  font-family: sans-serif;
  position: fixed;
  color: white;
  padding: 8px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  top: auto;
  left: 3px;
  right: auto;
  bottom: -13px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  /* line 23, ../src/vpm_ViewportMonkeyStyles.scss */
  div.vpm_monkeynums input {
    background: transparent;
    border: none;
    font-size: 2em; }
  /* line 34, ../src/vpm_ViewportMonkeyStyles.scss */
  div.vpm_monkeynums .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black; }
  /* line 43, ../src/vpm_ViewportMonkeyStyles.scss */
  div.vpm_monkeynums .arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid red; }
  /* line 52, ../src/vpm_ViewportMonkeyStyles.scss */
  div.vpm_monkeynums .arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green; }
  /* line 61, ../src/vpm_ViewportMonkeyStyles.scss */
  div.vpm_monkeynums .arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid blue; }
