#nums {
  position: absolute;
}

.positiontopleft {
	top: -6px;
  left: -6px;
}
.positiontopright {
  top: -6px;
  right: -6px;
}
.positionbottomleft {
  bottom: -6px;
  left: -6px;
}
.positionbottomright {
  bottom: -6px;
  right: -6px;
}
