@import "compass";

// .positiontopleft { top: 3px; left: 3px;}
// .positiontopright { top: 3px; right: 3px; }
// .positionbottomleft { bottom: 3px; left: 3px; }
// .positionbottomright { bottom: 3px; right: 3px; }

div.vpm_monkeynums {
	background-color: rgba(black, 0.4);
	font-size: .7em;
	font-family: sans-serif;
	position: fixed;
	color: white;
	padding: 8px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	top: auto;
	left: 3px;
	right: auto;
	bottom: -13px;
	input{
		//position: absolute;
		background: transparent;
		border: none;
		font-size: 2em;
		//top: -20px;
	}
	@include transition-property(all);
	@include transition-duration(1s);
	@include transition-timing-function(ease-in);

	.arrow-up {
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		
		border-bottom: 5px solid black;
	}

	.arrow-down {
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		
		border-top: 20px solid #f00;
	}

	.arrow-right {
		width: 0; 
		height: 0; 
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		
		border-left: 60px solid green;
	}

	.arrow-left {
		width: 0; 
		height: 0; 
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent; 
		
		border-right:10px solid blue; 
	}

}